body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
   
}

article{
    
    display: flex;
    flex-direction: row;
    /* wrap permite que se coloque como necesite dependiendo del ancho */
    flex-wrap: wrap;
    /* justify centra horizontarlmente */
    /* space evenly aplica mismo espacio disponible para los elementos */
    justify-content: space-evenly;

    /* eje vertical  */
    /* align-items:center; */

    border: 1px solid black;
    padding: 5px;
}

.nombrecorto{
    font-size: 1.5em;
    font-weight: bold;
}

.nombrelargo{
    font-size: 1.2em;
    font-style: italic;
}

.caja, .caja2{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.caja{
    background-color: blue;
    color: white;
    border-color: red;
}

.caja2{
    background-color: green;
    color: white;
    border-color: rgb(43, 226, 195);
}