*{
	font-family: Arial;
	justify-content: center;
	
}

caption{
	text-align: center;
	font-size: larger;
	font-weight: 600;
	margin-bottom: 4%;
}

.tabla{
	width: 100%;
	margin: 0 auto;
	border-style: groove;
	align-items: center;
}

td{
	padding: 1.5%;
	line-height: 1.1em;
	border: 1px;
	
}
.filas{
	
	align-items: center;
	text-align: center;
}

.desp{
	background-color: #83afd8;
	
	margin: 3%;
}

.serv{
	background-color: #1f8f3b;
	margin: 3%;
}

.marcas{
	background-color: #f32ba0;
	border-width: 0 0 0 0;
	margin: 3%;
}

.cliente{
	background-color: #1f5bb6;
	margin: 3%;
}

.diseño{
	background-color: #d4d436;
	margin: 3%;
}

.abajo{
	margin-top: 3em;
	justify-content: center;
	align-content: center;
	display:flex;
	flex-direction: columns;
	
	
}

.logo{
	width: 15%;
}