body{
    background-color: rgb(233, 229, 229);
    color:black;
    margin: 0;
}
h1{
    margin-left: 30%;
}
nav{
    background-color: black;
    color: white;
    padding: 10px;
    align-content: center;
}

#navtitle{
    margin-right: auto;
    margin-left: 20px;
}
.cuerpo{
    
    display: flex; 
    
}
#lista{
    margin: 0 auto;
}

.parrafo{
    margin: 0 auto;
}